<main class="main">
  <div class="header-main">
    <img src="assets/coingecko-logo.png" class="coingecko-logo" alt="Illustration of a gecko smiling">
    <h1>CoinGecko Coin Table</h1></div>
  <mat-tab-group>
  <mat-tab label="Coin Table"><ng-template mat-tab-label><mat-icon>currency_bitcoin</mat-icon> Coin Table</ng-template> <app-data-table></app-data-table> </mat-tab>
  <mat-tab label="Graph Chart"><ng-template mat-tab-label><mat-icon>bar_chart</mat-icon> Graph Chart</ng-template>  <chart-graph></chart-graph> </mat-tab>
</mat-tab-group>
</main>



